# Python cache
__pycache__/
*.pyc
*.pyo

# Editor settings
.vscode/
.idea/

# Streamlit logs
streamlit.err.log
streamlit.out.log
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
.env

# Jupyter checkpoints
.ipynb_checkpoints/
